header {
    background-color: brown;
    margin: 0px;
}
body {
    background-color: black;
    font-family: arial;
    color: white;
    font-weight: bold;
}

h1 {
    font-family: 'Lobster', cursive;
    padding: 30px 40px;
    font-size: 100px;
    text-align: center;
    cursor:pointer;

}

h1:hover {
    transition: 1.5s;
    opacity: 0.10;
    padding: 30px 40px;
}
h1 a {
    text-decoration: none;
    color:white;
}
.buttons {
    float: left;
    width: 25%;
}
button {
    align-content: center;
    background: linear-gradient(gray,rgb(192, 192, 192));
    padding: 15px 0px 15px 0px;
    font-size: 28px;
    font-weight: bold;
    width: 170px;
    cursor:pointer;
    margin-left: 50px;
    color:rgb(82, 82, 82); 
    border:0px;
    border-radius: 40px;
    box-shadow: 10px 10px 0px rgb(4, 70, 170);
}
button a {
    text-decoration: none;
    color: rgb(235, 227, 227);
}
a button:hover {
    transition: 1s;
    background: rgb(209, 224, 224);
    color:rgb(204, 68, 27);
}
p{
    margin: 45px;
    line-height: 40px;
    font-size: 26px;
}
img {
    float:left;
}

.enquadrar {
    float: right;
    width: 75%;
}
